apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
helmCharts:
- name: cert-manager
  releaseName: cert-manager
  namespace: default
  repo: "https://charts.jetstack.io"
  version: 1.16.2
  includeCRDs: true