name: Deploy K8s Manifest to Cluster
on:
  push:
    branches:
      - master # Change to your deployment branch
jobs:
  deploy-to-aks:
    runs-on: ubuntu-latest
    steps:
      - name: Azure CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Set up kubelogin for non-interactive login
        uses: azure/use-kubelogin@v1
        with:
          kubelogin-version: 'v0.0.24'
      - uses: azure/aks-set-context@v4
        with:
          resource-group: github-actions
          cluster-name: richa-test
          use-kubelogin: 'true'
      - name: Verify namespaces in cluster
        run: |
          hostname -I
          kubectl get namespace
